<p>Add new Car!</p>

<div class="add-new-car">
    <div *ngIf="showError" class="alert alert-danger" role="alert">Car did not added. Please try again!</div>

    <form [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="form-group">
                    <label for="licensePlate" class="required">license Plate</label>
                    <input class="form-control" type="text" id="licensePlate" formControlName="licensePlate"
                        placeholder="license Plate:example:ABS123">
                </div>
                <div *ngIf="addCarForm.controls['licensePlate'].invalid && (addCarForm.controls['licensePlate'].dirty || addCarForm.controls['licensePlate'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="addCarForm.controls['licensePlate'].errors.required">
                        license Plate required!
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="form-group">
                    <label for="carType" class="required">carType</label>
                    <input class="form-control" type="text" id="carType" formControlName="carType"
                        placeholder="carType:">
                </div>
                <div *ngIf="addCarForm.controls['carType'].invalid && (addCarForm.controls['carType'].dirty || addCarForm.controls['carType'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="addCarForm.controls['carType'].errors.required">
                        carType required!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2">
                <div class="form-group">
                    <label for="carEmployeeId">carEmployeeId:</label>
                    <select formControlName="carEmployeeId" class="form-control" >
                        <option disabled>Select carEmployeeId</option>
                        <option>Choose carEmployeeId</option>
                        <option *ngFor="let employee of employeeList" [value]="employee.id">{{employee.firstname}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2">
                <div class="form-group">
                    <label for="engineCapacity" class="required">engineCapacity</label>
                    <input class="form-control" type="number" id="engineCapacity" formControlName="engineCapacity"
                        placeholder="LengineCapacity:example:ABS123">
                </div>
                <div *ngIf="addCarForm.controls['engineCapacity'].invalid && (addCarForm.controls['engineCapacity'].dirty || addCarForm.controls['engineCapacity'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="addCarForm.controls['engineCapacity'].errors.required">
                        engineCapacity required!
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-xs-2 col-sm-2">
                <div class="form-group">
                    <label for="manufactureYear" class="required">manufactureYear</label>
                    <input class="form-control" type="number" id="manufactureYear" formControlName="manufactureYear"
                        placeholder="manufactureYear:example:ABS123">
                </div>
                <div *ngIf="addCarForm.controls['manufactureYear'].invalid && (addCarForm.controls['manufactureYear'].dirty || addCarForm.controls['manufactureYear'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="addCarForm.controls['manufactureYear'].errors.required">
                        manufactureYear required!
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="form-group">
                    <label for="carCareDate">Car Care Date</label>
                    <input type="date" class="form-control" id="carCareDate" formControlName="carCareDate"
                        placeholder="car Care Date">
                </div>
                <div *ngIf="addCarForm.controls['carCareDate'].invalid && (addCarForm.controls['carCareDate'].dirty || addCarForm.controls['carCareDate'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="addCarForm.controls['carCareDate'].errors.required">
                        carCareDaterequired!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-xs-6 col-sm-6">
                <div class="form-group">
                    <label for="notes" class="required">notes</label>
                    <textarea class="form-control" id="notes" formControlName="notes"
                        placeholder="notes:example:ABS123"></textarea>
                </div>
                <div *ngIf="addCarForm.controls['notes'].invalid && (addCarForm.controls['notes'].dirty || addCarForm.controls['notes'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="addCarForm.controls['notes'].errors.required">
                        notes required!
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="fourdb" formControlName="fourdb"
                        placeholder="fourdb:example:ABS123">
                    <label for="fourdb" class="required">4X4</label>
                </div>
            </div>
        </div>



        <button class="btn btn-success" type="submit"
            [disabled]="addCarForm.pristine || addCarForm.invalid">Add</button>
    </form>
</div>