<div class="car-details">
    <div class="card-body" *ngIf="car">
        <h1 class="card-title">Car: {{car.licensePlate}}</h1>
        <h2 class="card-subtitle mb-2 text-muted">ID: {{ car.id}}</h2>
        <h2>Car type: {{car.carType}}</h2>

        <p></p>
        <ul>
            <li>Manufacture Year : {{car.manufactureYear}}</li>
            <li>Notes: {{car.notes}}</li>
            <li>Care date: {{car.carCareDate | date : "dd/MM/yyyy"}}</li>
            <li>last edit date: {{car.editDate| date : "dd/MM/yyyy"}}</li>
            <li>4x4: {{car.fourdb}}</li>
            <li>Engine Capacity : {{car.engineCapacity}}</li>
            <li>Employee: {{car.employeeFirstName + " " + car.employeeLastName}}</li>
        </ul>
        <a [routerLink]="['/cars']" class="btn btn-secondary">Back</a>
        <a [routerLink]="['/update-car',car.licensePlate]" class="btn btn-success">Update</a>
        <a [routerLink]="['/delete-car',car.licensePlate]" class="btn btn-danger">Delete</a>


    </div>
</div>